nav{
	width: 100%;
	min-width: 1280px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: solid #539DDB; 
}

.navigator{
	width: 1280px;
	text-align: center;
	display: flex;
}

.nav-div{
	width: 25%;
	height: 50px;
	margin-top: 20px;
	float: left;
}