nav{
	width: 1280px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.navigator{
	width: 100%;
	text-align: center;
	border-bottom: solid #539DDB; 
	
}

.nav-div{
	width: 25%;
	height: 50px;
	margin-top: 30px;
	float: left;
	
}