section{
	width: 100%;
	min-width: 1280px;
	display: flex;
	justify-content: center;
    align-items: center;
    
}

.section-div{
	width: 1280px;
	display: flex;

}

.section-l{
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 100%;
}

.section-l-top{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 30%;
}

.section-l-bottom{
	width: 100%;
	height: 70%;
}


.section-r{
	display: flex;
	flex-direction: column;
	width: 30%;
	height: 100%;
}

.section-r-top{
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-r-bottom{
	width: 100%;
	height: 70%;
}
.profile-box{
	width: 90%;
}